<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link"> Contact Us </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link"> Help Center </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link"> Blog </a>
      </li>
    </ul>
    <div class="copyright">
      © 2020 by
      <a href="https://www.ogtech.in" target="_blank">OG Tech</a>
    </div>
  </div>
</footer>
