




    <div class="container">
        <div class="box">
            <img src="../static/assets/img/card1.png" height="auto"
            width="200px"
            alt="Card 1">

            <div class="name">F-Name L-Name</div>
            <div class="designation">Designation</div>

            <div class="email">
                <i class="fas fa-envelope fa-lg"></i>
                <div class="rect"></div>
                <a 
                    href="mailto:#?cc=meetyourvallabh@gmail.com, kaushalpp01@gmail.com, &bcc=lastemail@example.com&subject=Inquiry mail&body=Hi, I want to discuss something with you.">
                    Email Address
                </a>
            </div>

            <div class="phone">
                <i class="fas fa-phone fa-lg" style = "transform: rotateY(180deg)"></i>
                <div class="rect"></div>
                <a href="tel:9021750404">
                    Contact 
                </a>
            </div>

            <div class="address">
                <i class="fas fa-map-marker-alt fa-lg"></i>
                <div class="rect"></div>
                <a href="https://www.google.com/maps/@18.5318452,73.8817123,12.93z">
                    Address
                </a>
            </div>

            <div class="whatsapp">
                <i class="fab fa-whatsapp fa-lg"></i>
                <div class="rect"></div>
                <a href="https://api.whatsapp.com/send?phone=+919021750404&text=Hi Im interested">
                   WhatsApp
                </a>
            </div>
        </div>
    </div>
