<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../styles/card1.css">
    <title>Card One</title>

   
</head>

<body>
    <div class="container">
        <div class="box">
            <img src="../card_bg/card1.png" alt="Card 1">

            <div class="name">F-Name L-Name</div>
            <div class="designation">Designation</div>

            <div class="email">
                <i class="fas fa-envelope fa-lg"></i>
                <div class="rect"></div>
                <a
                    href="mailto:#?cc=meetyourvallabh@gmail.com, kaushalpp01@gmail.com, &bcc=lastemail@example.com&subject=Inquiry mail&body=Hi, I want to discuss something with you.">
                    Your email ID
                </a>
            </div>

            <div class="phone">
                <i class="fas fa-phone-alt fa-lg"></i>
                <div class="rect"></div>
                <a href="tel:9021750404">
                    Your Phone Number
                </a>
            </div>

            <div class="address">
                <i class="fas fa-map-marker-alt fa-lg"></i>
                <div class="rect"></div>
                <a href="https://www.google.com/maps/@18.5318452,73.8817123,12.93z">
                    Your Address
                </a>
            </div>

            <div class="whatsapp">
                <i class="fab fa-whatsapp fa-lg"></i>
                <div class="rect"></div>
                <a href="https://api.whatsapp.com/send?phone=+919021750404&text=Hi Im interested">
                    Connect through Whatsapp
                </a>
            </div>
        </div>
    </div>
</body>

</html>