<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../static/assets/img/logo.png" />
    <title>Digital Business Cards</title>

    {% block css %}

    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/assets/css/black-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../static/css/main.css" />
    {% endblock %}
  </head>
  <body class="">
    <div class="wrapper">
      {% include 'includes/_sidebar.html' %} {% block body %} {% endblock %}
    </div>
    {% block script %}
    <script src="../static/assets/js/core/jquery.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Chart JS -->
    <script src="../static/assets/js/plugins/chartjs.min.js"></script>

    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../static/assets/js/black-dashboard.js"></script>
    <script>
      $(document).ready(function () {
        if (!sessionStorage.getItem('currentActive')) {
          $(".nav li[data-tab='Dashboard']").addClass('active')
        } else {
          $current = $(".nav li[data-tab='" + sessionStorage.getItem('currentActive') + "']")

          $current.addClass('active')
          $('.nav li').not($current).removeClass('active')
        }

        $('#logout').click(function () {
          sessionStorage.clear()
        })
      })

      $('.nav li').click(function () {
        $('.nav li').not(this).removeClass('active')
        $(this).addClass('active')
        sessionStorage.setItem('currentActive', $(this).attr('data-tab'))
      })
    </script>
    {% endblock %}
  </body>
</html>
