{% extends 'base.html' %} {% block body %} {{price}}
<br />
{{user['email']}}
<form action="charge" method="POST">
  <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_WyK93y9mvps7SN"
    data-amount="{{price}}"
    data-name="Daft Punk"
    data-description="Purchase Description"
    data-image="vk.jpg"
    data-netbanking="true"
    data-description="Tron Legacy"
    data-prefill.name="{{user['name']}}"
    data-prefill.email="hule@gmail.com"
    data-prefill.contact="{{user['contact']}}"
    data-notes.shopping_order_id="21"
  ></script>
  <input type="hidden" name="shopping_order_id" value="21" />
</form>

{% endblock %}
